@inherits TLComponent
<StrapCard>
    <Header>
        <h5>报告列表</h5>
        <div class="header-elements">
            <div class="list-icons">
                <StrapButton CommandAction="@(o=>local.NavHelper.NavigateTo("/report/open"))">创建</StrapButton>
            </div>
        </div>
    </Header>
    <ChildContent>
        @foreach (var item in Reports)
        {
            <ReportItem Report="item"></ReportItem>
        }
    </ChildContent>
</StrapCard>

@code {
    [Parameter] public List<Report> Reports { get; set; } = new List<Report>();

}
