@page "/"
@namespace TaskLog.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskLog</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Limitless/css/animate.min.css">
    <link rel="stylesheet" href="_content/Limitless/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="_content/Limitless/css/icomoon/styles.css">
    <link rel="stylesheet" href="_content/Limitless/css/limitless/bootstrap.min.css">
    <link rel="stylesheet" href="_content/Limitless/css/limitless/bootstrap_limitless.min.css">
    <link rel="stylesheet" href="_content/Limitless/css/limitless/colors.min.css">
    <link rel="stylesheet" href="_content/Limitless/css/limitless/components.min.css">
    <link rel="stylesheet" href="_content/Limitless/css/limitless/layout.min.css">
    <link rel="stylesheet" href="_content/Limitless/css/open-iconic/font/css/open-iconic-bootstrap.min.css">
    <script src="~/js/tasklog.app.js"></script>
    @*<link rel="stylesheet" href="_content/Thunder.Blazor.Bootstrap/bootstrap.min.css">*@
    @*<link href="css/site.css" rel="stylesheet" />*@
</head>
<body class="navbar-bottom">
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
