@inherits ProjectListViewBase
<h3>ProjectListView</h3>

@if ((dataContext?.Projects?.Count ?? 0) > 0)
{
    foreach (var item in dataContext.Projects)
    {
        <ProjectView Project="item"></ProjectView>
    }
}

@code {
    protected override void OnInitialized()
    {
        dataContext.Projects.Add(new Project { Name = "项目1", Created = DateTime.Now });
        dataContext.Projects.Add(new Project { Name = "项目2", Created = DateTime.Now });
        dataContext.Projects.Add(new Project { Name = "项目3", Created = DateTime.Now });
    }
}
