@inherits ProjectEditBase
    <EditForm Model="Project" OnValidSubmit="SaveChange">
        <DataAnnotationsValidator />
        @*<ValidationSummary />*@
        <div class="form-group">
            <InputText @bind-Value="@Project.Name" class="form-control" placeholder="输入名称"></InputText>
            <ValidationMessage For="@(()=>Project.Name)" />
        </div>
        <div class="form-group">
            <InputTextArea @bind-Value="@Project.Target" class="form-control" placeholder="输入任务目标" row="9"></InputTextArea>
        </div>
        <div class="form-group">
            <ThunderSelect DataContext="StatusOption" @bind-SelectedItem="SelectedStatus" StyleClass="form-control"></ThunderSelect>
        </div>
        <div class="form-group mb-0">
            <StrapButton ActionItemTag="ActionItemTag.submit" Outline="true">保存</StrapButton>
            <StrapButton Style="StyleType.danger" Outline="true">重置</StrapButton>
            @if (EditMode)
            {
                <StrapButton Style="StyleType.danger" StyleClass="ml-2"><i class="icon-trash" title="Delete"></i></StrapButton>
            }
        </div>
    </EditForm>
@code {
    private TContext<ProjectEdit> DataContext { get; set; }

    protected override void OnInitialized()
    {
        try
        {
            DataContext = GetContextParameter<ProjectEdit>(null);
            Project = DataContext?.View?.Project;
            EditMode = DataContext?.View?.EditMode ?? false;
            Caption = DataContext?.View?.Caption;
        }
        catch (Exception ex)
        {

            throw;
        }
        base.OnInitialized();
    }

}
