@inherits LayoutComponentBase
<div class="page-content">
    <div class="content-wrapper">
        <div class="content">
            @Body
            <LogFoot>© 2015 - 2019. <a href="#">Log note</a> by <a href="#" target="_blank">林亚</a></LogFoot>
        </div>
    </div>
</div>
<StrapModal></StrapModal>
@code{
    [Inject] public LocalService local { get; set; }
}