@inherits LogContentViewBase
<div class="text-muted">
    @(TodoLog?.Created??DateTime.Now)
    @*<i class="icon-pencil3 ml-2"></i>*@
</div>
<p class="mb-1">
    @if (TodoLog?.Report == null)
    {
        @ChildContent
    }
    else
    {
        @TodoLog?.Report
    }
</p>
