@inherits TLComponent
<FootBar>
    <CollapsedSection>
        <div class="row">
            <div class="col"><StrapButton Style="StyleType.none" CommandAction="ToggleSidebar"><i class="icon-paragraph-justify3" title="Show side"></i></StrapButton></div>
            <div class="col"><ContentButton></ContentButton></div>
            <div class="col"><StrapButton Style="StyleType.none" CommandAction="@(o=>local.NavHelper.NavigateTo("/"))"><i class="icon-home5" title="Today"></i></StrapButton></div>
        </div>
    </CollapsedSection>
    <ChildContent>
        @ChildContent
    </ChildContent>
    <ButtonList>
        <li class="nav-item"><StrapButton Style="StyleType.none" CommandAction="@(o=>local.NavHelper.NavigateTo("/report/test"))"><i class="icon-file-spreadsheet2" title="Report Prototype"></i></StrapButton></li>
        <li class="nav-item"><StrapButton Style="StyleType.none" CommandAction="@(o=>local.NavHelper.NavigateTo("/report"))"><i class="icon-file-spreadsheet2" title="Report"></i></StrapButton></li>
        <li class="nav-item"><StrapButton Style="StyleType.none" CommandAction="@(o=>local.NavHelper.NavigateTo("/"))"><i class="icon-home5" title="Today"></i></StrapButton></li>
        <li class="nav-item"><ContentButton></ContentButton></li>
    </ButtonList>
</FootBar>
@code {
    private async void ToggleSidebar(object item)
    {
        await local.Sidebar.Toggle();
        return;
    }
}
