@layout BaseLayout
@inherits LayoutComponentBase

<div class="d-md-flex align-items-md-start">
    <SideBar>
        <!-- Sidebar search -->
        <Search></Search>
        <!-- /sidebar search -->
        <UntypeList></UntypeList>
        <ProjectList></ProjectList>
    </SideBar>
    <div class="w-100 h-100">
        @Body
    </div>
</div>
