@layout BaseLayout
@inherits BaseLayout

<div class="d-md-flex align-items-md-start">
    <SideBar>
        <ReportList Reports="@(local.Storage.Reports.Where(x => string.IsNullOrWhiteSpace(x.ParentKey)).ToList())"></ReportList>
    </SideBar>
    <div class="w-100 h-100">
        @Body
    </div>
</div>
