@inherits TLComponent
<div class="sidebar sidebar-light sidebar-component sidebar-component-left bg-transparent border-0 shadow-0 sidebar-expand-md">
    <!-- Sidebar content -->
    <div class="sidebar-content">
        @ChildContent
    </div>
    <!-- /sidebar content -->
</div>