@page "/day/{Id:int}"
@inherits DayLogViewBase
<StrapCard>
    <Header>
        <h5 class="m-0">@Caption</h5>
        <div class="header-elements">
            <div class="list-icons">
                <Navgator DayNext="DayNext" DayPrev="DayPrev"></Navgator>
            </div>
        </div>
    </Header>
    <ChildContent>
        @if (HasContent)
        {
            foreach (var todo in Todos)
            {
                var logs = DayLog.TodoLogs.Where(x => x.TodoId == todo.Id).ToList();
                var project = local.Storage.Projects.FirstOrDefault(x => x.Id == todo.ProjcectId)?.Name;
                <TodoContentView IsShowTag="true" Todo="todo" Project="@project" TodoLogs="logs"></TodoContentView>
            }
        }
        else
        {
            <Empty>还没有做日志记录！</Empty>
        }
    </ChildContent>
</StrapCard>

<ProjectDetail Id="0"></ProjectDetail>