@inherits DayLogViewBase
<h3>@DataContext?.DayLog?.Date</h3>
@if ((dataContext?.DayLog?.TodoLogs?.Count() ?? 0) > 0)
{
    foreach (var item in dataContext.DayLog.TodoLogs)
    {
        var todolog = new TodoLogContext { TodoLog = item };
        <TodoLogView DataContext="todolog"></TodoLogView>
    }
}
@code {
}
