@page "/daylog"
@inherits DayLogListBase
<h3>DayLogList</h3>
<StrapButton CommandAction="ShowTodoLogEdit">+</StrapButton>
@if ((dataContext?.DayLogs?.Count() ?? 0) > 0)
{
    foreach (var item in dataContext.DayLogs)
    {
        var dlog = new DayLogContext { DayLog = item };
        <DayLogView DataContext="dlog"></DayLogView>
    }
}
@code {
    void ShowTodoLogEdit(object obj)
    {
        ShowModal(new TContext<TodoLogEdit> { Caption = "编辑日志" }, null, o => { StateHasChanged(); });
    }

    void UpdateValue(TodoLog item)
    {

    }
}
