@page "/day/{Id}"
@inherits DayLogViewBase
@{ 
    var dayNext = id <= 0 ? "" : $"/day/{id - 1}";
    var dayPrev = $"/day/{id + 1}";
}
<StrapCard>
    <Header>
        <h5 class="m-0">@Caption</h5>
        <div class="header-elements">
            <div class="list-icons">
                <StrapActionItem Style="StyleType.none" ActionItemTag="ActionItemTag.a" CommandAction="o=>local.NavHelper.NavigateTo(dayPrev)">
                    <i class="icon-arrow-left22" title="前一天"></i> 前一天
                </StrapActionItem>
                @if (id > 0)
                {
                    <StrapActionItem Style="StyleType.none" ActionItemTag="ActionItemTag.a" CommandAction="o=>local.NavHelper.NavigateTo(dayNext)">
                        后一天 <i class="icon-arrow-right22" title="后一天"></i>
                    </StrapActionItem>
                }
            </div>
        </div>
    </Header>
    <ChildContent>
        @if (HasContent)
        {
            foreach (var todo in Todos)
            {
                var logs = DayLog.TodoLogs.Where(x => x.TodoId == todo.Id).ToList();
                var project = local.Storage.Projects.FirstOrDefault(x => x.Id == todo.ProjcectId)?.Name;
                <TodoContentView IsShowTag="true" Todo="todo" Project="@project"></TodoContentView>
                foreach (var item in logs)
                {
                    <LogContentView TodoLog="item"></LogContentView>
                }
            }
        }
        else
        {
            <Empty>还没有做日志记录！</Empty>
        }
    </ChildContent>
</StrapCard>