@inherits ProjectListViewBase
<h3>ProjectListView</h3>
<StrapButton CommandAction="Add">新增</StrapButton>
<TodoBaseEdit @ref="pEdit" OnConfirm="UpdateValue"></TodoBaseEdit>

@if ((dataContext?.Projects?.Count ?? 0) > 0)
{
    foreach (var item in dataContext.Projects)
    {
        var v = item;
        Action<object> edit = (obj) =>
        {
            pEdit.Project = v;
            Update();
        };
        <ProjectItem Project="item" CommandAction="edit"></ProjectItem>
    }
}

@code{
    TodoBaseEdit pEdit;
    
}
