@page "/project/{Id}"
@inherits ProjectDetailBase
<StrapCard>
    <Header>
        <h5>@DataContext?.Project?.Name<i class="icon-pencil3 ml-2" title="Edit"></i></h5>
    </Header>
    <ChildContent>
        @if (DataContext?.HasTodos ?? false)
        {
            var todoList = DataContext?.Todos?.OrderBy(x => x.Created).ToList();
            foreach (var item in DataContext?.Todos)
            {
                <TodoContentView Project="@DataContext?.Project?.Name" Todo="item"></TodoContentView>
                var logList = DataContext?.TodoLogs?.Where(x => x.TodoId == item.Id).OrderBy(x => x.Created).ToList();
                if (logList.Count > 0)
                {
                    foreach (var log in logList)
                    {
                        <LogContentView TodoLog="log"></LogContentView>
                    }
                }
            }
        }
    </ChildContent>
</StrapCard>
@*<h3>@Id</h3>
<TodoBaseEdit @ref="pEdit" OnConfirm="UpdateValue"></TodoBaseEdit>
@if ((dataContext?.Todos?.Count ?? 0) > 0)
{
    foreach (var item in dataContext.Todos)
    {
        var v = item;
        Action<object> edit = (o) =>
        {
            pEdit.Project = v;
            Update();
        };
        <TodoItem Item="item" CommandAction="edit"></TodoItem>
    }
}*@

@code {
    TodoBaseEdit pEdit;
}
