@page "/project/{Id}"
@inherits ProjectDetailBase
<h3>@Id</h3>
<TodoBaseEdit @ref="pEdit" OnConfirm="UpdateValue"></TodoBaseEdit>
@if ((dataContext?.Todos?.Count ?? 0) > 0)
{
    foreach (var item in dataContext.Todos)
    {
        var v = item;
        Action<object> edit = (o) =>
        {
            pEdit.Project = v;
            Update();
        };
        <TodoItem Item="item" CommandAction="edit"></TodoItem>
    }
}

@code {
    TodoBaseEdit pEdit;
}
