@page "/project/{Id}"
@inherits ProjectDetailBase
<StrapCard>
    <Header>
        <TextEdit Text="@DataContext?.Project?.Name" Data="@DataContext?.Project?.Key" Confirm="@UpdateText">
            <h5>@DataContext?.Project?.Name<ContentButton Mode="1" ViewContent="@(DataContext?.Project)"></ContentButton></h5>
        </TextEdit>
    </Header>
    <ChildContent>
        @if (DataContext?.HasTodos ?? false)
        {
            var todoList = DataContext?.Todos?.OrderBy(x => x.Created).ToList();
            foreach (var item in DataContext?.Todos)
            {
                <TodoContentView Project="@DataContext?.Project?.Name" Todo="item"></TodoContentView>
                var logList = DataContext?.TodoLogs?.Where(x => x.TodoId == item.Id).OrderBy(x => x.Created).ToList();
                if (logList.Count > 0)
                {
                    foreach (var log in logList)
                    {
                        <LogContentView TodoLog="log"></LogContentView>
                    }
                }
            }
        }
    </ChildContent>
</StrapCard>
