@page "/project/{Id}"
@inherits ProjectDetailBase
<h3>@Id</h3>
<ProjectEdit @ref="pEdit" OnConfirm="UpdateProject"></ProjectEdit>
@if ((dataContext?.Todos?.Count ?? 0) > 0)
{
    foreach (var item in dataContext.Todos)
    {
        var v = item;
        Action edit = () =>
        {
            pEdit.Project = v;
            Update();
        };
        <ProjectItem Project="item" CommandAction="edit"></ProjectItem>
    }
}

@code {
    ProjectEdit pEdit;
}
