@layout BaseLayout
@inherits ReportOpenBase
@page "/report/open"
@page "/report/open/{key}"
<div class="d-md-flex align-items-md-start">
    <SideBar>
        <ProjectList CheckMode="true" Projects="local.Storage.Projects" @bind-SelectedTodos="TodoKeys"></ProjectList>
    </SideBar>
    <div class="w-100 h-100">
        <ReportDetail Report="Report" @bind-TodoKeys="TodoKeys"></ReportDetail>
    </div>
</div>
