@inherits TComponent
<div class="form-group row">
    <label class="col-form-label col-lg-1">Name</label>
    <div class="col-lg-9">
        <input type="text" class="form-control" @bind="@TodoName" @onkeyup="OnKeyUp" />
    </div>
    <div class="col-lg-2">
        <StrapButton CommandAction="UpdateValue">保存</StrapButton>
        <StrapButton CommandAction="Reset" Style="StyleType.danger">重置</StrapButton>
    </div>
</div>
@code {
    [Parameter]
    public Todo Todo
    {
        get { return todo; }
        set
        {
            todo = value;
            TodoName = todo?.Name;
        }
    }

    [Parameter] public EventCallback<Todo> TodoChanged { get; set; }
    [Parameter] public EventCallback<Todo> OnConfirm { get; set; }
    string TodoName;
    Todo todo;


    protected override void OnInitialized()
    {
    }

    private void OnKeyUp(KeyboardEventArgs key)
    {
        Console.WriteLine(key.Key);
        if (key.Key == "Enter")
        {
            UpdateValue();
        }
    }

    private async void UpdateValue()
    {
        if (todo == null)
        {
            todo = new Todo(TodoName);
        }
        else
        {
            todo.Name = TodoName;
        }
        await TodoChanged.InvokeAsync(Todo);
        await OnConfirm.InvokeAsync(todo);
        Todo = null;
        //Updkate();
    }

    private void Reset()
    {
        Todo = null;
    }
}
