@inherits TComponent
<div class="row">
    <div class="col" @onclick="Goto">
        <h3>@Item?.Name</h3>
        <span>@Item?.Created</span>
        <span>@Item?.Id</span>
    </div>
    <div class="col">
        <StrapButtongroup>
            <StrapButton CommandAction="CommandAction">编辑</StrapButton>
            <StrapButton Style="StyleType.danger" Outline="true">删除</StrapButton>
        </StrapButtongroup>
    </div>
    <div class="col"></div>
</div>

@code {
    [Parameter] public Todo Item { get; set; }
    [Inject] LocalService local { get; set; }

    void Goto(object obj)
    {
        //local.NavHelper.NavigateTo($"/project/todo/{Project?.Id}");
    }
}
